@import "styles/settings/__settings";

.footerWidget {
  width: 50%;
  @media screen and (max-width: 860px) {
    width: 100%;
  }
  h3 {
    color: var(--secondary-color);
    font-size: 2.4rem;
    margin-top: 0;
  }
  h6 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.footerContainer {
  display: flex;
  width: 90%;
  gap: 30px;
  @media screen and (max-width: 860px) {
    width: 100%;
    flex-wrap: wrap-reverse;
    text-align: center;
  }
}
